{% extends 'base.html' %}

{% block header_text %}新建待办事项{% endblock %}

{% block form_action %}{% url 'view_list' list.id %}{% endblock %}

{% block dispaly_area_1 %}
    <div class="text-right">
        <a href="#">删除清单</a>&nbsp;&nbsp;
        <a href="{% url 'my_lists' %}">查看已有清单</a>
    </div>
    <table id="id_list_table" class="table table-condensed">
        {% for item in list.item_set.all %}
            <tr>
                <td width="40" >{{ forloop.counter }}</td>
                <td width="460">{{ item.text }}</td>
                <td>{# 预留 #}<br></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
