{% extends 'base.html' %}

{% block header_text %}待办事项清单{% endblock %}

{% block list_form %}{% endblock %}

{% block dispaly_area_1 %}
    <table id="id_my_lists" class="table table-condensed">
        <thead>
            <tr>
                <th>清单</th>
                <th>发布时间</th>
                <th>操作</th>
                <th><br></th>
            </tr>
        </thead>
        <tbody>
            {% for list in owner.list_set.all %}
                <tr>
                    <td width="500"><a href="{{ list.get_absolute_url }}">{{ list.name }}</a></td>
                    <td width="150">2019-05-01 12:00</td>
                    <td width="50" >删除</td>
                    <td><br></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

