{# bills/billym_list.html #}

{% if user.email %}
    {% if billyms %}
        <table id="id_billyms_table" class="table table-bordered table-condensed">
            {% for billym in billyms %}
                <tr>
                    <td id="id_billym_row_{{ forloop.counter }}"
                        {% if selected_billym and selected_billym.id == billym.id %}
                            class="app-selected"
                        {% endif %}>
                        <a href="{{ billym.get_absolute_url }}">
                            {{ billym.year }}年{{ billym.month }}月
                        </a><br>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>没有找到您的账单！</p>
    {% endif %}
{% else %}
    <p>您还没有登录！</p>
{% endif %}
