{# bills/bill_list.html #}

{% extends 'bills/base.html' %}

{% block header_text %}账单明细{% endblock %}

{% block dispaly_area_1 %}
<h3 id="id_billym_title"></h3>
<div class="row">
    <div class="col-md-2 text-right"><b>合计支出：</b></div>
    <div class="col-md-3 text-right" id="id_expends"></div>
</div>
<div class="row">
    <div class="col-md-2 text-right"><b>合计收入：</b></div>
    <div class="col-md-3 text-right" id="id_incomes"></div>
</div>
<div class="row">
    <div class="col-md-2 text-right"><b>余额：</b></div>
    <div class="col-md-3 text-right" id="id_balance"></div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        view_billyms("{% url 'get_billyms' %}", {{ selected_billym_id }});
        view_aggregates_on_selected_billym("{% url 'get_aggregates_on_selected_billym' selected_billym_id %}");
        view_bills("{% url 'get_bills' selected_billym_id %}");
    });
</script>
{% endblock %}
