{# bills/index.html #}

{% extends 'bills/base.html' %}

{% block header_text %}新建账单{% endblock %}

{% block bill_form %}
    <form method="POST" action="{% url 'bills:create_bill' %}" class="form-horizontal">
        {% for field in form %}
            <div class="form-group">
                <div class="col-sm-2 text-right">*{{ field.label_tag }}</div>
                <div class="col-sm-8">{{ field }}</div>
            </div>
            {% if field.errors %}
                <div class="form-group has-error">
                    <div class="help-block col-sm-offset-2">{{ field.errors }}</div>
                </div>
            {% endif %}
        {% endfor %}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
                <button type="submit" class="btn btn-primary">提交</button>
            </div>
        </div>
        {% csrf_token %}
    </form>
{% endblock %}
