{# bills/index.html #}

{% extends 'bills/base.html' %}

{% block header_text %}新建账单{% endblock %}

{% block bill_form %}
    <form method="POST" action="{% url 'create_bill' %}" class="form-horizontal">
        <div class="form-group">
            <label for="id_money" class="col-sm-2 control-label">收入支出*</label>
            <div class="col-sm-8">{{ form.money }}</div>
        </div>
        {% if form.money.errors %}
            <div class="form-group has-error">
                <span class="help-block col-sm-offset-2">{{ form.money.errors }}</span>
            </div>
        {% endif %}

        <div class="form-group">
            <label for="id_money" class="col-sm-2 control-label">备注*</label>
            <div class="col-sm-8">{{ form.comment }}</div>
        </div>
        {% if form.comment.errors %}
            <div class="form-group has-error">
                <span class="help-block col-sm-offset-2">{{ form.comment.errors }}</span>
            </div>
        {% endif %}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
                <button type="submit" class="btn btn-primary">提交</button>
            </div>
        </div>
        {% csrf_token %}
    </form>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        view_billyms("{% url 'get_billyms' %}", null);
        view_bills("{% url 'get_bills_on_created_today' %}");
    });
</script>
{% endblock %}
