{# footer.html #}

{% load staticfiles %}
<footer class="footer">
    <div class="container"></div>
        <div class="text-center">
            <hr>
            <p>
                &copy;2019 Tang &nbsp;
                <a href="http://www.miitbeian.gov.cn/" target="_blank">蜀ICP备19005354号</a>&nbsp;
                <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=51010602000909" target="_blank">
                    <img src="{% static 'register_icon.png' %}">川公网安备 51010602000909号
                </a>
            </p>
        </div>
    </div>
</footer>
