{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Superlists</title>
    {% include 'commons/css.html' %}
</head>

<body>
    <div class="container">
        {# 导航栏 #}
        {% include 'commons/navbar.html' %}

        {# 提示消息 #}
        {% include 'commons/messages.html' %}

        {# app parts #}
        {# 巨幕 #}
        <div id="id_jumbotron" class="row">
            <div class="col-md-6 col-md-offset-3 jumbotron">
                <div class="text-center">
                    <h1>{% block header_text %}{% endblock %}</h1>
                    {% block list_form %}
                        <form method="POST" action="{% block form_action %}{% endblock %}">
                            {{ form.text }}
                            {% csrf_token %}
                            {% if form.errors %}
                                <div class="form-group has-error">
                                    <span class="help-block">{{ form.text.errors }}</span>
                                </div>
                            {% endif %}
                        </form>
                    {% endblock %}
                </div>
            </div>
        </div>
        
        {# 表示区域-1 #}
        <div id="id_display_area_1" class="row">
            <div class="col-md-6 col-md-offset-3">
                {% block dispaly_area_1 %}{% endblock %}
            </div>
        </div>
        
        {# 表示区域-2 #}
        <div id="id_display_area_2" class="row">
            <div class="col-md-6 col-md-offset-3">
                {% block dispaly_area_2 %}{% endblock %}
            </div>
        </div>
        
        {# 注意事项等其他说明 #}
        <div id="id_notes" class="row">
            <div class="col-md-6 col-md-offset-3">
                {% block notes %}{% endblock %}
            </div>
        </div>
        {# app parts #}
    
    </div>

    {# 页面底部 #}
    {% include 'commons/footer.html' %}

    {# JavaScript #}
    {% include 'commons/js.html' %}

    {# app includes #}
    <script src="{% static 'js/lists.js' %}"></script>
    {# app includes #}
</body>
</html>
