{% extends 'lists/base.html' %}

{% block header_text %}待办事项{% endblock %}

{% block form_action %}{% url 'view_list' selected_list.id %}{% endblock %}

{% block dispaly_area_1 %}
    <table id="id_list_table" class="table table-condensed">
        {% for item in selected_list.item_set.all %}
            <tr>
                <td width="40"  class="text-right"><b>{{ forloop.counter }}.&nbsp;</b></td>
                <td width="600" id="id_row_{{ forloop.counter }}">{{ item.text }}</td>
                <td width="40"  class="text-right">
                    {# 第一条是清单标题，不能删除 #}
                    {% if user.email %}
                        <form method="POST" action="{% url 'remove_list_item' item.id %}">
                            <button type="submit"
                                id="id_remove_list_item_{{forloop.counter}}"
                                class="btn btn-danger btn-xs"
                                {% if forloop.counter == 1 %} disabled {% endif %}>×</button>
                            {% csrf_token %}
                        </form>
                    {% endif %}
                </td>
                <td><br></td>
            </tr>
        {% endfor %}
    </table>

    {# 只有登录用户才能操作清单 #}
    {% if user.email %}
        <form name="remove_list" class="text-left" method="POST" action="{% url 'remove_list' selected_list.id %}">
            <button type="submit" name="remove_list" class="btn btn-danger btn-sm">删除清单</button>
            <div id="id_remove_list_dialog" title="删除清单" style="display:none">
                <p>
                    待办事项清单被删除后将无法恢复！<br>
                    您确定要删除该待办事项清单吗？
                </p>
            </div>
            &nbsp;
            <!--
            <a name="create_list" class="btn btn-primary btn-sm" href="{% url 'home_page' %}">新建清单</a>
            -->
            {% csrf_token %}
        </form>
    {% endif %}
{% endblock %}
